<!DOCTYPE HTML>
<html id="webApp" class="g_html">

	<head>
		<title>安全中心-源泰金控-专业期货服务平台</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="keywords" content="{{keywords}}" />
		<meta name="description" content="{{description}}" />
		<link rel="shortcut icon" href="{{favicon}}" type="image/x-icon">
		<link type="text/css" href="/Site/web/src/style/base.css" rel="stylesheet" />
		<link type="text/css" href="/Site/web/src/style/ucenter.css" rel="stylesheet" />
		<script src="/Site/web/src/script/app.js"></script>
	</head>

	<body class="g_body g_locale2052">
		<div id="g_main" class='g_main g_col2 '>
			<div id="g_web" class="g_web ">
				<div id="ucenter-wrap" class="uc-wrap md clearfix">
					<div class="uc-container">
						<ul class="uc-safefy clearfix">
							<li class="phone">
								<span class="state bind">已绑定</span>
								<i class="ico"></i>
								<div class="content">
									<h1>手机绑定</h1>
									<p>您绑定的手机号为: <b v-text="username"></b></p>
								</div>
								<a class="buttons" href="{{siteUrl}}/ucenter/security/updatePhone.html">修改</a>
							</li>
							<li class="password">
								<span class="state bind">已设置</span>
								<i class="ico"></i>
								<div class="content">
									<h1>登录密码</h1>
									<p>您可以修改<b>登录密码</b>。安全性高的密码可以使帐号更安全,建议您定期更换密码</p>
								</div>
								<a class="buttons" href="{{siteUrl}}/ucenter/security/updatePwd.html">修改</a>
							</li>
							
							<li class="real-name">
								<span v-if="userinfo.realState == 0" class="state">未认证</span>
								<template v-else>
									<span v-if="userinfo.realState == 1" class="state">待审核</span>
									<span v-else="" class="state bind">已认证</span>
								</template>
								<i class="ico"></i>
								<div class="content">
									<h1>实名认证</h1>
								</div>
								<a v-if="userinfo.realState == 0" class="buttons" href="{{siteUrl}}/ucenter/security/realNameEdit.html">认证</a>
								<template v-else>
									<span v-if="userinfo.realState == 1" class="buttons">等待认证结果</span>
									<a v-else="" class="buttons" href="{{siteUrl}}/ucenter/security/realName.html">查看</a>
								</template>
							</li>
							
							<li class="card">
								<span v-if="!userinfo.isBindBank" class="state">未绑定</span>
								<span v-else="" class="state bind">已绑定</span>
								<i class="ico"></i>
								<div class="content">
									<h1>绑定银行卡</h1>
								</div>
								<template v-if="userinfo.isBindBank == 0">
									<a class="buttons" href="{{siteUrl}}/ucenter/security/bindBankEdit.html">绑定</a>
								</template>
								<template v-else="">
									<a class="buttons" href="{{siteUrl}}/ucenter/security/bindBank.html">查看</a>
									<!--<a class="buttons" href="{{siteUrl}}/ucenter/security/bindBankEdit.html">修改</a>-->
								</template>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script>
			ui.loader('ucenter', 'security', function() {
				var vm = new Vue({
					el: '#webApp',
					data: $.extend(vue.data, {}),
					methods: vue.methods,
					ready: function() {}
				})
			});
		</script>
	</body>

</html>