<!DOCTYPE HTML>
<html id="webApp" class="g_html">

	<head id="webHeader">
		<title>修改密码-源泰金控-专业期货服务平台</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="keywords" content="{{keywords}}" />
		<meta name="description" content="{{description}}" />
		<link type="text/css" href="/Site/web/src/style/base.css" rel="stylesheet" />
		<link type="text/css" href="/Site/web/src/style/ucenter.css" rel="stylesheet" />
		<script src="/Site/web/src/script/app.js"></script>
	</head>

	<body class="g_body g_locale2052">
		<div id="g_main" class='g_main g_col2 '>
			<div id="g_web" class="g_web ">
				<div id="ucenter-wrap" class="uc-wrap md clearfix">
					<div class="uc-container">
						<h1 class="title">修改密码</h1>
						<ul class="uc-form uc-safefy-bind">
							<li><span class="title">原密码:</span><input type="password" v-model="pwd" maxlength="32" /></li>
							<li><span class="title">新密码:</span><input type="password" v-model="newPwd" maxlength="32" /></li>
							<li><span class="title">确认新密码:</span><input type="password" v-model="mkNewPwd" maxlength="32" /></li>
							<li class="submit">
								<a href="javascript:" @click="submit" v-text="submitTxt">确定</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script>
			ui.loader('ucenter', 'security', function() {
				var vm = new Vue({
					el: '#webApp',
					data: $.extend(vue.data, {
						pwd: '',
						newPwd: '',
						mkNewPwd: '',
						submitTxt: '确定'
					}),
					methods: $.extend(vue.methods, {
						submit: function() {
							var pwd = this.pwd;
							var newPwd = this.newPwd;
							var mkNewPwd = this.mkNewPwd;
							if (pwd == '')
								layer.alert('原密码不能为空');
							else if (newPwd == '')
								layer.alert('新密码不能为空');
							else if (mkNewPwd == '')
								layer.alert('确认新密码不能为空');
							else if (newPwd != mkNewPwd)
								layer.alert('新密码与确认新密码不一致，请重新输入');
							else if (this.submitTxt != '提交中...') {
								this.ajaxSubmit({
									checklogin: true,
									before: function() { vm.submitTxt = '提交中...';},
									url: vm.interfaceUrl+'/interface/password',
									data: 'token='+vm.usertoken+'&userId='+vm.userid+'&password='+pwd+'&newPassword='+newPwd,
									success: function(data) {
										if (data.code == 0) {
											vm.deleteUserCookie();
											layer.open({
											  title: '提示',
											  content: '修改密码成功，请用新密码重新登录',
											  end: function() {vm.loginJump();}
											});
										}
									},
									error: function() {},
									complete: function() {vm.submitTxt = '确定';}
								});
							}
						}
					}),
					ready: function() {}
				});
			});
		</script>
	</body>

</html>